* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: coral;
}
@font-face {
    font-family: simplecode;
    src: url(./digital-7.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
.container {
    margin: 10px auto;
    width: 200px;
}
.screen {
    background-color: aqua;
    width: 200px;
    height: 50px;
    position: relative;
}
.keyboard {
    width: 100%;
    display:grid;
    /* bat dau dung grid */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item:hover{
    background-color: coral;
    cursor: pointer;
}
.item1 {
    grid-column: 1/span 2;
    background-color: burlywood;
}
.item1:hover {
    background-color: cornflowerblue;
}
.item2 {
    grid-column: 1/span 2;
    background-color: burlywood;
}
.item2:hover {
    background-color: cornflowerblue;
}
/* toi day la dep phan giao dien */
.screen.input,
.screen.overlay {
    position: absolute;
    top: 0;
    right: 5px;
    font-size:40px;
    color: antiquewhite;
    z-index: 222;
    font-family: simplecode;
}
.screen.overlay {
    color: lavender;
}
/* over lay la cai minh muon no dep hon thoi */
